@using AF.Web.Extensions
@model AF.Web.Models.Manager.BookSearchModel
@{
    ViewBag.Title = "BookList";
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
}

<!-- BEGIN PAGE HEADER-->

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index")">任务列表</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:void(0);">教辅选择列表</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->

@Html.Partial("BookSearchView", Model)

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                        <tr>
                            <th>书名</th>
                            <th>学科</th>
                            <th>学段</th>
                            <th>年级</th>
                            <th>学期</th>
                            <th>出版社</th>
                            <th>ISBN</th>
                            <th>年份</th>
                            <th>创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BookList)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Chapter", new {bookId = item.Id})">@item.Name</a></td>
                                    <td>@(item.Subject?.Name)</td>
                                    <td>@(item.Degree?.Name)</td>
                                    <td>@(item.Grade?.Name)</td>
                                    <td>@(item.Term?.Name)</td>
                                    <td>@(item.Publisher?.Name)</td>
                                    <td>@item.Isbn</td>
                                    <td>@(item.Year == 0 ? "" : item.Year.ToString())</td>
                                    <td>@item.CreateTime.FormatDate()</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var pager = Html.Pager(Model.PagingFilteringModel).QueryParam("pagenumber").RenderEmptyParameters(true);
}

@if (!pager.IsEmpty())
{
    <div class="pager">
        @pager
    </div>
}

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/Metronic/global/plugins/bootstrap-datepicker/css/datepicker3.css" />
    <script src="~/Content/Metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(function() {
            bookList.init();
        });

        var bookList = function () {

            var degreeChange = function () {
                $("select[name=DegreeId]").live("change", function () {
                    var select = $(this);
                    var val = $(this).val();
                    $.ajax({
                        url: "/Manage/GetGrade",
                        data: { degreeId: val },
                        type: "post",
                        dateType: "json",
                        success: function (data) {
                            var nextSelect = $("select[name=GradeId]");
                            nextSelect.empty().append("<option value=''>请选择</option>");
                            for (var i = 0; i < data.length; i++) {
                                nextSelect.append("<option value='" + data[i].Id + "'>" + data[i].Name + "</option>");
                            }
                        }
                    });

                    $.ajax({
                        url: "/Manage/GetSubject",
                        data: { degreeId: val },
                        type: "get",
                        dateType: "json",
                        success: function (data) {
                            var nextSelect = $("select[name=SubjectId]");
                            nextSelect.empty().append("<option value=''>请选择</option>");
                            for (var i = 0; i < data.length; i++) {
                                nextSelect.append("<option value='" + data[i].Id + "'>" + data[i].Name + "</option>");
                            }
                        }
                    });
                });
            };

            return {
                init: function () {
                    degreeChange();

                    $('.date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        orientation: "left",
                        format: 'yyyy-mm-dd',
                        autoclose: true
                    });
                }
            };
        }();
    </script>

}
